<!DOCTYPE html>
<html lang="en">
{% load sitetree %}
{% load staticfiles %}
    <head>
        <title class="nav-title"></title>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo-without-text.ico' %}" />
        <!-- Latest compiled and minified CSS -->
        <!--http://www.sergioscorner.com/article/making-custom-menu-django-using-django-sitetr/-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
        <!--#####################################################################-->
        <!--Header & Navigation bar                                              -->
        <!--#####################################################################-->
        <div class="page-header">
            <div class="container">
                <div class="container" id="header-img-container">
                    <div id="header-e1">
                        </div><div id="header-e2">
                        </div><div id="header-e3">
                    </div>
                </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">HOME</a>
                        </div>
                        <ul class="nav navbar-nav">
{#                            {% sitetree_menu from "dma" include "trunk" template "sitetree/menu_bootstrap3.html" %}#}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'login' %}">{{ request.user.username }}</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        <div class="container-fluid">

            {% if messages %}
                <!--#####################################################################-->
                <!--print out any messages sent from django views                        -->
                <!--#####################################################################-->
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:{% endif %}
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!--#####################################################################-->
            <!--display the block content of the view                                -->
            <!--#####################################################################-->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>